apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "logging-backend.fullname" . }}-pvc
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "logging-backend.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: {{ .Values.storage }}
